
.body{
  background-color: rgb(60, 61, 60);
  color: white;
}

.bg-header{
  padding: 10px;
  background-color: blue;
}

.text-center{
  text-align: center;
}

.text-h1-size{
  font-size: 400%;
}

a{
  color: rgb(116, 255, 23);
}
a:hover{
  color: red;
}